.main-nav {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap: wrap;
}
	.main-nav li {
		-webkit-flex-grow: 1;
		-webkit-flex: 1;
	}
	.main-nav li:first-child {
		margin-right: auto;
		-webkit-flex: 4;
	}
